

body {
    background: #222;
}


// NavBar styles 
.video-thumb {
    color: white;
}
.navbar-nav {
    flex-direction: row;
    justify-content: center;
}
.form-inline {
    max-width: 100%;
    justify-content: center;
    .form-control {
        width: 65%;
        margin-right: 20px;
    }
}
.nav-height {
    max-height: 56px !important; 
}

.round-tabs {
    .nav-item{
        width: 6rem;
        text-align: center;
        
    }
    .active a {
        background-color: rgb(83, 80, 80);
        border: .3px solid black;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        color: black;
    }
    a{
        background-color: rgb(141, 128, 128);
        border: .3px solid black !important;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        color: black !important;
    }
    
}
     